<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name = "viewport" content="initial-scale=1, width=device-width">
        <link href="./../static/styles.css" rel="stylesheet">
        <title>artle</title>
    </head>
    
    <body>
        <div class="header">
            <h1>artle</h1>
        </div>
        <div class="container">

            <div class="section">
                <h2>How much is art worth?</h2>
            </div>
            
            <!-- Section for art image-->
            <div class="section">
                <img src="{{ art_url }}" alt="{{ art_name }}">
            </div>

            <div class="section">
                {% if outcomes | length > 0 %}
                    <table>
                        <thead>
                            <tr>
                                <th>Round</th>
                                <th>Guess</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Loop through guesses -->
                            {% for round, data in outcomes.items() %}
                            <tr>
                                <td>{{ round }}</td>
                                <td>{{ "${:,.2f}".format(data.guess) }}</td>
                                <td>{{ data.result }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <form action="/guess" method="post">
                    <label for="guess">Make a Guess</label>
                    <input type="number" autocomplete="off" id="guess" name="guess" placeholder="" autofocus required>
                    <button type="submit">Submit</button>
            </div>

            <div class="section">
                {% if clues | length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Clues</th>
                        </tr>
                    </thead>
                    <!-- Loop through clues -->
                    <tbody>
                        {% for clue in clues %}
                        <tr>
                            <td>{{ clue }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </body>

    <footer>
        <p>Data Source: <a href="https://github.com/jasonshi10/art_auction_valuation" target="_blank">Jason Shi. Art Auction Valuation</a></p>
    </footer>
</html>
