<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name = "viewport" content="initial-scale=1, width=device-width">
        <link href="./../static/styles.css" rel="stylesheet">
        <title>artle</title>
    </head>
    
    <body>
        <div class="header">
            <h1>artle</h1>
        </div>
        <div class="container">

            <div class="section">
                <h2>Correct!</h2>            
                <img src="{{ art_url }}" alt="{{ art_name }}"  height="320">
            </div>

            <div class="section">
                <table>
                    <thead>
                        <tr>
                            <th>Information</th>
                        </tr>
                    </thead>
                    <!-- Loop through clues -->
                    {% for info in information %}
                    <tr>
                        <td>{{ info }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>You're guess: {{ "${:,.2f}".format(guess) }} </td>
                    </tr>
                    <tr>
                        <td>This art sold for: {{ "${:,.2f}".format(art_price) }} in {{ art_date }} </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>

    <footer>
        <h6>Data Source: SothebysData_clean.csv from <a href="https://github.com/georgiecoetzer/What-Makes-Art-Valuable/tree/main" target="_blank">georgiecoetzer / What-Makes-Art-Valuable</a></h6>
    </footer>
</html>
